@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

*{
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #2c3e50;
}

p, li {
    color: #34495e ;
}

button {
    width: 100px;
    height: 36px;
    font-weight: 500;
    font-size: 14px;
    border: 1px solid #bdc3c7;
    background-color: transparent;
    border-radius: 8px;
    outline: none;
}

button:hover{
    background-color: #2980b9;
    color: #fff;
    border: none;
    cursor: pointer;

}

ul {
    list-style-type: none;
}

.small-font {
    font-size: 18px;
    font-weight: 600;
}

.display-row{
    display: flex;
    align-items: center;
}

.dark-button {
    color: #ffffff;
}

.light-button {
    color: #2c3e50;
}

.meta-description {
    color:  #95a5a6;
}

.highlight {
    color: #e74c3c;
}

.display-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-90{
    height: 90%;
}

.small-margin {
    margin-top:  7px;
    margin-bottom:  7px;
}
.side-small-margin {
    margin-left: 4px;
    margin-right: 4px;
}

.side-medium-margin {
    margin-left: 12px;
    margin-right: 12px;
}